@{

    Layout = "_Layout";
}
@using System.Security.Claims;
@{
    var isAuthenticated = !string.IsNullOrEmpty(Context.Session.GetString("JWToken"));
    var userEmail = "";
    if (isAuthenticated)
    {
        var tokenHandler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();
        var jwtToken = tokenHandler.ReadJwtToken(Context.Session.GetString("JWToken"));
        userEmail = jwtToken.Claims.First(claim => claim.Type == ClaimTypes.Email).Value;
    }
    
}
@Html.Partial("_Navbar")
<section class="contact-info-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-info-one__single wow fadeInDown" data-wow-duration="1500ms">
                    <div class="contact-info-one__icon">
                        <i class="kipso-icon-manager"></i><!-- /.kipso-icon-manager -->
                    </div><!-- /.contact-info-one__icon -->
                    <h2 class="contact-info-one__title">About Us </h2><!-- /.contact-info-one__title -->
                    <p class="contact-info-one__text">
                        Lorem ipsum is simply free text <br> available in the market to
                        use <br>
                        deliver satisfaction.
                    </p><!-- /.contact-info-one__text -->
                </div><!-- /.contact-info-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="contact-info-one__single wow fadeInUp" data-wow-duration="1500ms">
                    <div class="contact-info-one__icon">
                        <i class="kipso-icon-placeholder"></i>
                        <!-- /.kipso-icon-manager -->
                    </div><!-- /.contact-info-one__icon -->
                    <h2 class="contact-info-one__title">Our Address</h2><!-- /.contact-info-one__title -->
                    <p class="contact-info-one__text">
                        855 Road Broklyn Street, <br>
                        600 New York, United States of <br> America
                    </p><!-- /.contact-info-one__text -->
                </div><!-- /.contact-info-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="contact-info-one__single wow fadeInDown" data-wow-duration="1500ms">
                    <div class="contact-info-one__icon">
                        <i class="kipso-icon-contact"></i><!-- /.kipso-icon-manager -->
                    </div><!-- /.contact-info-one__icon -->
                    <h2 class="contact-info-one__title">Contact Info</h2><!-- /.contact-info-one__title -->
                    <p class="contact-info-one__text">
                        needhelp@kipso.com <br>
                        444 888 0000 <br> &nbsp;
                    </p><!-- /.contact-info-one__text -->
                </div><!-- /.contact-info-one__single -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.contact-info-one -->


