@{
    ViewData["Title"] = "VerificarUsuario";
    Layout = "~/Views/Shared/_NavbarAdmin.cshtml";
}

<div style="margin:30px">
    <h1>Verificacion</h1>
    <p>El usuario creado debe de confirmar el correo para poder ingresar a la plataforma</p>
</div>

